{% extends "base.html" %}

{% block content %}
<main class="main main--about">
    <img
    class="self-profile"
    src="{{ url_for('static', filename='img/self.png') }}"
    alt=""
/>
    <p>
        Hello! I'm Chelsea, a passionate technologist immersed in the exciting journey of 
        earning my Master's degree in Computer Science at Northeastern University. 
        My academic foundation was laid with First Class Honors in Civil Engineering at 
        the National University of Singapore, where I developed a profound knack for 
        problem-solving and grasping intricate systems.
    </p> 
    <p>
        My career initially unfolded in the field of Civil Engineering, 
        enriching me with invaluable professional experiences and insights.
         However, driven by a desire to broaden my technical horizons, 
         I embarked on a transition towards computer science. Since then, 
         I have committed countless hours to perfect my proficiency in several 
         programming languages, including but not limited to Java, Python, JavaScript, 
         HTML and CSS. This expertise has empowered me to construct complex and interactive 
         web applications, leveraging diverse technologies and frameworks such as Node.js, 
         Express.js, Flask, MongoDB, and Render.
    </p> 
    <p>
        Beyond the confines of coding, I cherish the spirit of collaboration and 
        knowledge sharing inherent in the tech industry. My role as a Civil Engineer 
        provided me opportunities to mentor and train newcomers, experiences that nurtured 
        my passion for teamwork and mentorship. This ethos permeates my work in software development, 
        fostering an environment of growth and collective learning.
    </p> 
    <P>
        Outside of work, I love enjoying good food, immersing myself in music, 
        and reconnecting with nature, which helps maintain a harmonious work-life balance.
    </P>
    <P>
        If you're on the lookout for a collaborator, or simply a chat about the latest tech trends, 
        don't hesitate to reach out. I am continuously excited to connect with fellow tech enthusiasts 
        and grow both as a software developer and a contributing member of the tech community. 
        Thank you for dropping by!
    </P>
</main>
{% endblock %}