{% extends "base.html" %}

{% block content %}
<main class="main--contact">
    <dl>
        <div class="contact">
            <dt>Email:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="mailto:chelseacui211@gmail.com">
                    chelseacui211@gmail.com
                </a>
            </dd>
        </div>
        <div class="contact">
            <dt>GitHub:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="https://github.com/Yushicui">
                    @Yushi_Cui
                </a>
            </dd>
        </div>
        <div class="contact">
            <dt>LinkedIn:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="https://www.linkedin.com/in/yushi-cui-523096260/">
                    @Yushi_Cui
                </a>
            </dd>
        </div>
    </dl>
</main>
{% endblock %}